{% extends 'registro/base.html' %}
{% block content %}

<h2 class="mt-5">Detalle de avance por departamento</h2>
<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>Departamento</th>
            <th>Atendidas</th>
            <th>En proceso</th>
            <th>Canceladas</th>
            <th>Total</th>
            <th>% Avance</th>
        </tr>
    </thead>
    <tbody>
        {% for item in datos_departamento %}
        <tr>
            
            <td>{{ item.departamento_a_canalizar }}</td>

            
            <td>{{ item.atendidas }}</td>
            <td>{{ item.proceso }}</td>
            <td>{{ item.canceladas }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.porcentaje_avance }}%</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="table-success fw-bold">
        <tr>
            <td>Total general</td>
            <td>{{ total_atendidas }}</td>
            <td>{{ total_proceso }}</td>
            <td>{{ total_canceladas }}</td>
            <td>{{ total_global }}</td>
            <td>{{ porcentaje_global }}%</td>
        </tr>
    </tfoot>
</table>



<h2>Avance de solicitudes por departamento</h2>
<canvas id="graficoAvance" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('graficoAvance').getContext('2d');
const datos = {
    labels: {{ etiquetas|safe }},
    datasets: [{
        label: 'Porcentaje de avance por departamento',
        data: {{ porcentajes|safe }},
        backgroundColor: 'rgba(255, 0, 0, 0.8)',
    }]
};

new Chart(ctx, {
    type: 'bar',
    data: datos,
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true
            },
            tooltip: {
                enabled: true
            }
        },
        scales: {
            y: {
                beginAtZero: true,
                max: 100
            }
        }
    }
});
</script>




<a href="{% url 'lista_registros' %}" class="btn btn-primary mt-4">Volver a lista de registros</a>


{% endblock %}
